<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu">
  <div class="brand">
      <img src="{{ asset('build/img/logo.png') }}" alt="">
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">

        {# home #}
        <li>
          <a class="nav-link" href="{{ path('home') }}">
            <i class="fa fa-home fa-md"></i> {{ 'common.home' | trans | title }}
          </a>
        </li>

        {# games #}
        <li data-toggle="collapse" data-target="#games" class="collapsed">
          <a class="nav-link" href="#">
            <i class="fa fa-gamepad fa-md"></i> {{ 'game.plural' | trans }}
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="games">
          <li class="nav-link">
            <a href="{{ path('game.create') }}" class="nav-item">{{ 'common.create' | trans }}</a>
          </li>
          <li class="nav-link">
            <a href="{{ path('game.list') }}" class="nav-item">{{ 'common.list' | trans }}</a>
          </li>
        </ul>

        {# concurrents #}
        <li data-toggle="collapse" data-target="#concurrents" class="collapsed">
          <a class="nav-link" href="#">
            <i class="fa fa-building fa-md"></i> {{ 'concurrent.plural' | trans }}
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="concurrents">
          <li class="nav-link">
            <a href="{{ path('concurrent.create') }}" class="nav-item">{{ 'common.create' | trans }}</a>
          </li>
          <li class="nav-link">
            <a href="{{ path('concurrent.list') }}" class="nav-item">{{ 'common.list' | trans }}</a>
          </li>
        </ul>

      </ul>
  </div>
  <div class="profil fixed-bottom mb-5 ml-5">
    <div class="mb-2 ml-3">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-success">
          {{ 'common.account' | trans }}
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'common.logout' | trans | capitalize}}</a>
        </div>
      </div>
    </div>
  </div>
</div>